body
{
  background: linear-gradient(-90deg,#ff82bf, #fffc00);
}

.main-container
{
  width: 100%;
}

.entry
{
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(5, 6.25vw);
  grid-template-columns: repeat(10, 6.25vw);
  margin-bottom: 20px;
}

.entry-image
{
  grid-row: 1/6;
  grid-column: 1/6;
}

.entry-image img
{
  width: 100%;
  height: 100%;
}

.entry-word
{
  grid-row: 2/6;
  grid-column: 6/10;
  font-size: 4vw;
  font-weight: bold;
}

.entry-pos
{
  font-size: 2vw;
  font-weight: normal;
  font-style: italic;
}

.entry-definition
{
  grid-row: 3/6;
  grid-column: 6/10;
  font-size: 2.5vw;
}

@media only screen and (max-width: 480px)
{
  .entry
  {
    display: grid;
    grid-template-rows: repeat(5, 10vw);
    grid-template-columns: repeat(10, 10vw);
    margin-bottom: 20px;
  }

  .entry-word
  {
    grid-row: 2/6;
    grid-column: 6/10;
    font-size: 8vw;
    font-weight: bold;
  }

  .entry-pos
  {
    font-size: 4vw;
    font-weight: normal;
    font-style: italic;
  }

  .entry-definition
  {
    grid-row: 3/6;
    grid-column: 6/10;
    font-size: 5vw;
  }
}

@media only screen and (max-device-width: 480px)
{
  .entry
  {
    display: grid;
    grid-template-rows: repeat(5, 10vw);
    grid-template-columns: repeat(10, 10vw);
    margin-bottom: 20px;
  }

  .entry-word
  {
    grid-row: 2/6;
    grid-column: 6/10;
    font-size: 8vw;
    font-weight: bold;
  }

  .entry-pos
  {
    font-size: 4vw;
    font-weight: normal;
    font-style: italic;
  }

  .entry-definition
  {
    grid-row: 3/6;
    grid-column: 6/10;
    font-size: 5vw;
  }
}
